<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Lista de produtos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <div class="container-fluid">
        <div layout:fragment="content" class="row">
        <!-- LISTA DE PRODUTOS -->  			  
			  <h4 class="row center">Lista de Categorias</h4>
                <div class="row">
                    <table class="responsive-table" id="product-table">
                        <thead>
                            <tr>
                                <th>Nome</th>                                                       
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="categoria : ${categorias}">
                                <td th:text="${categoria.nome}"></td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>                              
        </div>
    </div>    
    </body>
</html>