<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Lista de Categorias</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <div class="container-fluid">
        <div layout:fragment="content" class="row">
        <!-- LISTA DE PRODUTOS -->  			  
			  <h4 class="row center">Lista de Categorias</h4>
                <div class="row">
                    <table class="responsive-table" id="product-table">
                        <thead>
                            <tr>
                                <th>Nome</th>   
                                <th>Ordem do Cardápio</th>
                                <th>Disponível</th>
                                <th>Permite Meio a Meio?</th>
                                <th>Calcula preço médio dos sabores?</th> 
                                <th>Editar</th>                                                                                  
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="categoria : ${categorias}">
                                <td th:text="${categoria.nome}"></td>  
                                <td th:text="${categoria.ordem}"></td>
                                <td th:switch="${categoria.disponivel}"> 
								  <p th:case="true">Sim</p>
								  <p th:case="false">Não</p>								  
								</td> 
								<td th:switch="${categoria.permite2Sabores}"> 
								  <p th:case="true">Sim</p>
								  <p th:case="false">Não</p>								  
								</td> 
								<td th:switch="${categoria.precoMedio2Sabores}"> 
								  <p th:case="true">Sim</p>
								  <p th:case="false">Não</p>								  
								</td>    
                                <td><a th:href="@{'/mostrarCategoria-' + ${categoria.id}}"><i class="material-icons">edit</i></a></td>                                                             
                            </tr>
                        </tbody>
                    </table>
                </div>                              
        </div>
    </div>    
    </body>
</html>