<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        
        <title>GarçomFácil</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       	<!-- Materialize CSS -->
       	<link href="materialize/materialize.min.css" rel="stylesheet">
		<!--Import Google Icon Font-->
    	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	       
    </head>
    <body>     
        <div class="container-fluid">
        	 <!-- Dropdown Cadastro -->
			<ul id="dropdown1" class="dropdown-content">
			  <li><a href="/novaCategoria">Nova Categoria</a></li>
			  <li><a href="/novoProduto">Novo Produto</a></li>
			  
			</ul>	
			 <!-- Dropdown Listar -->
			<ul id="dropdown2" class="dropdown-content">
			  <li><a href="/categorias">Categorias</a></li>
			  <li><a href="/produtos">Produtos</a></li>
			  <li class="divider"></li>
			  
			 
			</ul>			
			<nav>
			    <div class="nav-wrapper  red lighten-1">
			      <a href="#!" class="brand-logo">GarçomFácil</a>
			      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			      <ul class="right hide-on-med-and-down">
			        <li><a href="/home">Início</a></li>
			        <li><a href="/pedidos">Pedidos</a></li>
			        <li><a href="/pagamentos">Pagamentos</a></li>
			        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Listar<i class="material-icons right">arrow_drop_down</i></a></li>
			        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>			        
			        <li><a href="/login">Sair</a></li>
			        
			      </ul>
			    </div>
			  </nav>
			
			  <ul class="sidenav" id="mobile-demo">
			  	<li><a href="/home">Início</a></li>
			  	<li class="divider"></li>
			    <li><a href="/novaCategoria">Nova Categoria</a></li>
			  	<li><a href="/novoProduto">Novo Produto</a></li>
			  	<li class="divider"></li>
			  	<li><a href="/categorias">Listar Categorias</a></li>
				<li><a href="/produtos">Listar Produtos</a></li>
				<li class="divider"></li>
				<li><a href="/pedidos">Pedidos</a></li>	   
				<li><a href="/pagamentos">Pagamentos</a></li> 
				<li><a href="/login">Sair</a></li>
			  </ul>
			
            <div class="starter-template" layout:fragment="content"></div>
        </div><!-- /.container -->

      	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<!-- Compiled and minified JavaScript -->
	    <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="materialize/materialize.min.js"></script>
        <script type="text/javascript" src="materialize/validacao.js"></script>
	    <script>
	    $('.dropdown-trigger').dropdown();
	    $(document).ready(function(){
	    	    $('.sidenav').sidenav();
	   	});
	    $(document).ready(function(){
	        $('select').formSelect();
	      });
	    $(document).ready(function(){
	        $('.collapsible').collapsible();
	      });
	    $(document).ready(function(){
	        $('.tooltipped').tooltip();
	      });
	    
	    /////
	    $(document).ready(function(){
	        $('#2saboresS').change(function(){
	        	
	            if(this.checked)
	               $('#divPrecoMedio').show();
	            else
	                $('#divPrecoMedio').hide();
	
	        });
	    });
	    </script>     
    </body>
</html>