<!DOCTYPE HTML>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Novo Cliente</title>
    </head>
    <body>
    <div class="container-fluid center">
        <div layout:fragment="content" class="row">
            <div class="col col s12 m6 offset-m3 l4 offset-l4 center">    
            	<h3>Bem vindo </h3>           
                <h3 th:text="${session.emailcliente}"></h3>             
            </div>
        </div>
    </div>    
    </body>
</html>