<!DOCTYPE HTML>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/default">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Novo Cliente</title>
    </head>
    <body>
    <div class="container-fluid center">
        <div layout:fragment="content" class="row">
            <div class="col col-lg-6 center">    
            	<h2>Bem vindo </h2>           
                <h2 th:text="${session.emailcliente}"></h2>
               
            </div>
        </div>
    </div>    
    </body>
</html>