<!DOCTYPE HTML>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="defaultAutenticar">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Login</title>
    </head>
    <body>
    <div class="container-fluid center">
        <div layout:fragment="content" class="row">
                       
                               
                 <div class="row">
				    <form class="col s12 m6 offset-m3 l4 offset-l4 center" action="/autenticar">
				      <h4>Fazer Login</h4>
				      <div class="row">
				        <div class="row">
					        <div class="input-field col s12">
					          <i class="material-icons prefix">account_circle</i>
					          <input id="email" type="email" class="validate" name="email">
					          <label for="email">Email</label>
					          <span class="helper-text" data-error="wrong" data-success="right"></span>
					        </div>
				      	</div>
				        <div class="row">
					        <div class="input-field col s12">
					          <i class="material-icons prefix">vpn_key</i>
					          <input id="pass" type="password" class="validate" name="senha">
					          <label for="pass">Senha</label>
					          
					        </div>
				      	</div>
				      </div>
				      <h4 class="text-danger"th:text="${erro}"></h4>
                  	  <a href="/novoCliente" class="btn btn-primary grey lighten-3 black-text text-darken-2"><span class="glyphicon glyphicon-plus-sign"></span> Novo Cliente</a>
                      <button type="submit" class="btn btn-success">Entrar</button>
				    </form>
				  </div>
              
        </div>
    </div>    
    </body>

</html>