<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Show Product</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">             
                <h2 th:text="${produto.nome}"></h2>                
                <dl class="list">
                    <dt>Product Description</dt>
                    <dd th:text="${produto.descricao}"></dd>
                    <dt>Product Description</dt>
                    <dd th:text="${produto.preco}"></dd>
                </dl>
               
            </div>
        </div>
    </body>
</html>