<!DOCTYPE HTML>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Nova Cateogira</title>
    </head>
    <body>
    <div class="container-fluid center">
        <div layout:fragment="content" class="row">
            <div class="col col-lg-6 center">               
                <h2>Nova Categoria</h2>
                <form action="/salvarCategoria">
                    <div class="form-group">
                        <label for="email">Nome:</label>
                        <input type="text" class="form-control" name="nome" />
                    </div>
                    
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>    
    </body>
</html>