<!DOCTYPE HTML>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>    	
        <title>Novo Produto</title>
        <meta charset="UTF-8"/>
    </head>
     
    <body>
   
    <div class="container-fluid center">
        <div layout:fragment="content" class="row">
        	<h4 class="center">Novo Produto</h4>
        	<div class="row">
			    <form action="/salvarProduto">
			      <div class="row col s12 m12 l12">
			        <div class="input-field col s12 m6 l2">
			          <i class="material-icons prefix">shopping_basket</i>
			          <input id="nome" type="text" name="nome" required="true">
			          <label for="nome">Nome</label>
			        </div>
			        <div class="input-field col s12 m6 l3">
			          <i class="material-icons prefix">format_align_center</i>
			          <textarea id="descricao" class="materialize-textarea" name="descricao" required="true"></textarea>
          			  <label for="descricao">Descrição</label>
			        </div>
			        <div class="input-field col s12 m6 l2">
			          <i class="material-icons prefix">attach_money</i>
			          <input id="preco" type="number" step="0.01" class="validate" name="preco" required="true">
			          <label for="preco">Preço</label>
			        </div>			        
			        <div class="switch col s12 m6 l2">
			        <label for="disponivel">Produto Disponível?</label><br>
					    <label>
					      Não
					      <input id="disponivelN" type="hidden" name="disponivel" th:value="false"/>
					      <input id="disponivelS" checked="checked" type="checkbox" name="disponivel" th:value="true">
					      <span class="lever"></span>
					      Sim
					    </label>
					 </div>
					 <div class="input-field col s12 m12 l3">
					    <select required name="categoria">					    	
					      <option value="" disabled selected>Selecione uma Categoria</option>
					      <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}" ></option>					     <
					    </select>
					    <label>Categoria</label>
					  </div>										
			      </div>
			      <div class="row center">
			     	 <button type="submit" onclick="validaCheckbox(); M.toast({html: 'Preencha todos os Campos!', classes: 'rounded'})" class="btn btn-success">Salvar</button>
			      </div>
			    </form>
			  </div>
			  <!-- LISTA DE PRODUTOS -->  
			   <ul class="collection">
			      <li class="collection-item">
			      <h4 class="row center">Lista de Produtos</h4>
                <div class="row">
                    <table class="responsive-table" id="product-table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Preço</th>   
                                <th>Disponível</th>                            
                                <th>Categoria</th> 
                                <th>Editar</th>                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="produto : ${produtos}">
                                <td th:text="${produto.nome}"></td>
                                <td th:text="${produto.preco}" ></td>
                                <td th:switch="${produto.disponivel}"> 
								  <p th:case="true">Sim</p>
								  <p th:case="false">Não</p>								  
								</td>                               
                                <td th:text="${produto.categoria.nome}"></td>
                                <td><a th:href="@{'/mostrarProduto-' + ${produto.id}}"><i class="material-icons">edit</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
			      </li>			      
			    </ul>
			             
        </div>
    </div>        
    </body>
</html>