<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Lista de Produtos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <div class="container-fluid">
        <div layout:fragment="content" class="row">
            <!-- LISTA DE PRODUTOS -->  			  
			  <h4 class="row center">Lista de Produtos</h4>
                <div class="row">
                    <table class="responsive-table" id="product-table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Preço</th>   
                                <th>Disponível</th>                            
                                <th>Categoria</th> 
                                <th>Editar</th>                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="produto : ${produtos}">
                                <td th:text="${produto.nome}"></td>
                                <td th:text="${produto.preco}" ></td>
                                <td th:switch="${produto.disponivel}"> 
								  <p th:case="true">Sim</p>
								  <p th:case="false">Não</p>								  
								</td>                                                              
                                <td th:text="${produto.categoria.nome}"></td>
                                <td><a th:href="@{'/mostrarProduto-' + ${produto.id}}"><i class="material-icons">edit</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
        </div>
    </div>    
    </body>
</html>